<div fxLayout="column">
    <!--TOP NAVBAR -->
    <div class="nav-bar" fxLayout="row" fxLayoutAlign="start center" >
        <mat-icon>circle</mat-icon>
        <h2>Pix Payslip</h2>
        <h3 class="text-button">Register</h3>
    </div>

    <!-- FORM CONTENT -->
    <div class="form" fxLayout="column">
        <h3>Commencer gratuitement</h3>
        <h1>Connectez-vous</h1>
        <div class="inputs-container" fxLayout="column">
            <div fxLayout="row">
                <input />
                <input />
            </div>
            <input />
            <input />
            <button>Se connecter</button>
        </div>
        <div class="separator"></div>
        <div fxLayout="row">
            <button>Facebook</button>
            <button>Google</button>
            <button>GitHub</button>
        </div>
    </div>
</div>
<img class="logo" src="assets/images/logo.png" alt="logo" />